{% extends "layout.twig" %}

{% block content %}	
<div class="card mx-auto bg-dark" style="max-width: 700px;">
	<div class="card-body text-light text-center">
		<h5 class="card-title">My IP address</h5>
		<div class="card-text mt-4">
			<span class="h1">
				{{ ip }}
			</span>
			<br>
			<span class="h4 text-muted">
				{{ reverse }}
			</span>

			<div class="my-4 mx-auto text-start" style="max-width: 350px;">
				<hr>
				<div class="text-center">
					<span class="h5">API</span>
				</div>

				<table class="table table-api">
					<tr>
						<td>
							<code>Get IP address in plaintext</code>
						</td>
						<td>
							<code>
								<a target="_blank" href="/ip">/ip</a>
							</code>
						</td>
					</tr>
					<tr>
						<td>
							<code>Get reverse DNS in plaintext</code>
						</td>
						<td>
							<code>
								<a target="_blank" href="/reverse">/reverse</a>
							</code>
						</td>
					</tr>
					<tr>
						<td>
							<code>Get data in JSON format</code>
						</td>
						<td>
							<code>
								<a target="_blank" href="/json">/json</a>
							</code>
						</td>
					</tr>
					<tr>
						<td>
							<code>Get data in XML format</code>
						</td>
						<td>
							<code>
								<a target="_blank" href="/xml">/xml</a>
							</code>
						</td>
					</tr>
				</table>
				<hr>
			</div>

			<footer class="mt-4 text-center text-muted">
				<i class="fa-solid fa-code me-1"></i>
				<a target="blank" href="https://bzrn.ch">
					&copy; {{ "now"|date('Y') }} William Bouzourène
				</a>
				
				{% if background is not null %}
				<br>
				<i class="fa-solid fa-camera me-1"></i>
				<a target="blank" href="{{ background.copyrightlink }}">
					{{ background.copyright }}
				</a> 
				{% endif %}
			</footer>
		</div>
	</div>
</div>
{% endblock content %}

{% block styles %}
{% if background is not null %}
<style>
	body {
		background: url('{{ background.url|raw }}') no-repeat center center fixed;
		background-size: cover;
	}
</style>
{% else %}
<style>
	body {
		background-color: #eee;
	}
</style>
{% endif %}
{% endblock %}